@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

// Theme Colors
//-------------------------------
$orange: #e74c3c;
$blue:  #2980b9;
$grey1: #34495e;
$grey2: #34495e;
$clouds: #ecf0f1;

$left: $orange;
$box: $blue;
$button: $grey1;


$border-radius: 5px;

body {
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poiret One', serif;
}

input, textarea, select {
  border: 1px solid $grey2 !important;
  border-radius: 0px !important;
}

a {
  color: $clouds;

  &:hover {
    color: $clouds;
  }
}

.btn-app {
  border: 0;
  background-color: $button;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all .1s linear;

  &:hover {
    color: scale-lightness(#fff, -10%);
    background-color: scale-lightness($button, 8%);
  }

  &:active {
    color: scale-lightness(#fff, -20%);
    background-color: scale-lightness($button, 18%);
  }

}
