@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3/box-shadow";
@import '_variables';
@import 'login';

.left-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 30%;
  padding-top: 20px;
  padding-left: 20px;
  background-color: $left;
  color: $clouds;

  h3 {
    font-size: 2.5em;
    padding-left: 20px;
  }
}

.right-content {
  @extend .right;
  width: 70%;
  color: $grey2;

  h3 {
    padding-left: 20px;
  }

  form {
    color: white;
    input[type="submit"] {
      margin-top: 20px;
    }
  }

  .notwide {
    width: 392px;
    margin-left: 20px;
    background-color: $orange;
    text-shadow: none;
    color: white;
  }
}

.menu {
  list-style: none;
  font-size: 20px;
  margin-top: 50px;

  li {
    padding: 20px 10px;
    font-family: 'Poiret One', serif;
    border-bottom: 1px solid $clouds;
    font-weight: bold;
    a {
      color: white;
    }
  }

  li.active {
    background-color: $clouds;
    color: $left;
    a {
      color: $grey2;
    }
  }
}

table.listing {
  margin-left: 20px;
  width: 80%;

  thead tr {
    background-color: $blue;
    color: white;
  }

  a {
    color: $blue;
  }
}
