<div class="alert hidden"></div>
<div class="span6">
  <div class="left">
    <h1>Count Your Blessings</h1>
  </div>
</div>
<div class="span6">
  <div class="right">
    <div class="login">
      <h2>Sign In | <a href="#/signup" id="signup">Sign Up</a></h2>
      <form action="http://localhost:3000/users/sign_in" method="POST" id="login-form">
        <input type="text" placeholder="Email" name="user[email]">
        <input type="password" placeholder="Password" name="user[password]">
        <br/>
        <input type="submit" value="Login" class="btn-app">
      </form>
      <h2>Or</h2>
      <div class="box-a"><a href="http://localhost:3000/auth/developer">Sign in with Twitter</a></div>
    </div>
  </div>
</div>