<div class="span6">
  <div class="left-bar">
    <h3>Count Your Blessings</h3>
    <ul class="menu">
      <li {{#if add}}class="active"{{/if}}><a href="/#add">Save a Blessing</a></li>
      <li {{#if viewown}}class="active"{{/if}}><a href="/#viewOwn">View my Blessings</a></li>
      <li {{#if viewshared}}class="active"{{/if}}><a href="/#shared">View Sharings</a></li>
      <li><a href="/#logout">Logout</a></li>
    </ul>
  </div>
</div>