<div class="alert hidden"></div>
<div class="signup">
  <h2><a href="#/" id="signup">Sign In</a> | Sign Up</h2>
  <form action="http://localhost:3000/users" method="POST" id="register-form">
    <input type="text" placeholder="Email" name="user[email]">
    <input type="password" placeholder="Password" name="user[password]">
    <input type="password" placeholder="Confirm Password" name="user[password_confirmation]">
    <br/>
    <input type="submit" value="Signup" class="btn-app">
  </form>
  <h2>Or</h2>
  <div class="box-a"><a href="http://localhost:3000/auth/developer">Sign up with Twitter</a></div>
</div>
