{{> sidebar}}
<div class="span6">
  <div class="right-content">
    <h3>Shared Blessings</h3>
    <table class="table table-bordered table-hover table-condensed listing">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each collection}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.date}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>