{{> sidebar}}
<div class="span6">
  <div class="right-content">
    <h3>Shared Blessings</h3>
    <table class="table table-hover listing">
      <tbody>
        {{#each collection}}
          <tr>
            <td>{{this.date}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>